body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-area {
    width: 900px;
    height: 250px;
    border: 2px solid black;
    margin: 20px auto;
    position: relative;
    background-image: url("assets/water.png");
    background-size: cover;
}

#level-select {
    margin-top: 10px;
}
#level-select button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
}

#boatContainer {
    width: 150px;
    position: absolute;
    left: 0;
    top: 120px;
}

#boat {
    width: 150px;
}

#player {
    width: 60px;
    position: absolute;
    left: 45px;
    top: -95px;
    border-radius: 6px;
}

#food {
    width: 110px;
    position: absolute;
    right: 40px;
    top: 80px;
}

#shark {
    width: 140px;
    position: absolute;
    top: 25px;           /* moved to top inside rectangle */
    right: 0;            /* starts from right side */
    display: none;
}


#finalMessage {
    color: red;
    font-size: 40px;
    display: none;
}

#levelMsg {
    font-size: 26px;
    margin-top: 6px;
    color: #006cff;
}

#refreshBtn {
    padding: 8px 18px;
    font-size: 17px;
    margin-top: 20px;
}

#crows {
    display: none;
    margin-top: 8px;
}
.crow-img {
    width: 70px;
    margin: 2px;
}
